<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.process.dao.TProcessDataDao">

	<select id="get" resultType="com.bootdo.process.domain.TProcessDataDO">
		select `id`,`name`,`value`,`pub_date`,`create_date` from t_process_data where id = #{value}
	</select>

	<select id="list" resultType="com.bootdo.process.domain.TProcessDataDO">
		select `id`,`name`,`value`,`pub_date`,`create_date` from t_process_data
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="name != null and name != ''"> and name = #{name} </if>
		  		  <if test="value != null and value != ''"> and value = #{value} </if>
		  		  <if test="pubDate != null and pubDate != ''"> and pub_date = #{pubDate} </if>
		  		  <if test="createDate != null and createDate != ''"> and create_date = #{createDate} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by value desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from t_process_data
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="name != null and name != ''"> and name = #{name} </if>
		  		  <if test="value != null and value != ''"> and value = #{value} </if>
		  		  <if test="pubDate != null and pubDate != ''"> and pub_date = #{pubDate} </if>
		  		  <if test="createDate != null and createDate != ''"> and create_date = #{createDate} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.bootdo.process.domain.TProcessDataDO" useGeneratedKeys="true" keyProperty="id">
		insert into t_process_data
		(
			`name`, 
			`value`, 
			`pub_date`, 
			`create_date`
		)
		values
		(
			#{name}, 
			#{value}, 
			#{pubDate}, 
			#{createDate}
		)
	</insert>
	 
	<update id="update" parameterType="com.bootdo.process.domain.TProcessDataDO">
		update t_process_data 
		<set>
			<if test="name != null">`name` = #{name}, </if>
			<if test="value != null">`value` = #{value}, </if>
			<if test="pubDate != null">`pub_date` = #{pubDate}, </if>
			<if test="createDate != null">`create_date` = #{createDate}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from t_process_data where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from t_process_data where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>