<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:shiro="http://www.w3.org/1999/xhtml">
<meta charset="utf-8">
<head th:include="include :: header">
	<style>
		body{padding: 20px;}
		.demo-input{padding-left: 10px; height: 38px; min-width: 262px; line-height: 38px; border: 1px solid #e6e6e6;  background-color: #fff;  border-radius: 2px;}
		.demo-footer{padding: 50px 0; color: #999; font-size: 14px;}
		.demo-footer a{padding: 0 5px; color: #01AAED;}
	</style>
	<link href="/css/bootstrap-datetimepicker.css" rel="stylesheet" media="screen">

</head>

<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="col-sm-12">
			<div class="ibox">
				<div class="ibox-body">
					<div class="row">
						<div class="col-md-4">
							<div class="input-group date form_date" data-date="" data-date-format="yyyy-MM-dd" data-link-field="dtp_input1" data-link-format="yyyy-mm-dd"  >
								<input class="form-control" size="16" type="text" value="" placeholder="请选择提问开始时间">
								<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
								<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
							</div>
							<input type="hidden" id="dtp_input1" value="" />
						</div>
						<div class="col-md-4">
							<div class="input-group date form_date1" data-date="" data-date-format="yyyy-MM-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd"  >
								<input class="form-control" size="16" type="text" value="" placeholder="请选择提问结束时间">
								<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
								<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
							</div>
							<input type="hidden" id="dtp_input2" value="" />
						</div>
						<div class="col-md-4">
								<input id="searchName" type="text" class="form-control"
									   placeholder="提问内容">
						</div>

					</div>
					<div class="row">
						<div class="col-md-4">
							<input id="nickName" type="text" class="form-control"
								   placeholder="用户昵称">
						</div>
						<div class="col-md-4">
							<input id="stock" type="text" class="form-control"
								   placeholder="股票名称">
						</div>
						<div class="col-md-4">
								<button class="btn btn-success" onclick="reLoad()">查询</button>
						</div>

					</div>
					<!--<div class="fixed-table-toolbar">-->
						<!---->
						<!---->


					<!--</div>-->

					<!--<button type="button" class="btn btn-primary" onclick="exportExcel(1)">-->
						<!--<i class="fa fa-export" aria-hidden="true"></i>导出当页数据-->
					<!--</button>-->
					<!--<button type="button" class="btn btn-primary" onclick="exportExcel(2)">-->
						<!--<i class="fa fa-export" aria-hidden="true"></i>导出全部数据-->
					<!--</button>-->
					<!--<button type="button" class="btn btn-primary" onclick="exportExcel(3)">-->
						<!--<i class="fa fa-export" aria-hidden="true"></i>导出符合条件全部数据-->
					<!--</button>-->

					<table id="exampleTable" data-mobile-responsive="true">
					</table>
				</div>
			</div>
		</div>
	</div>
	<!--shiro控制bootstraptable行内按钮看见性 来自bootdo的创新方案 -->
		<div>
			<script type="text/javascript">
				var s_edit_h = 'hidden';
				var s_remove_h = 'hidden';
				var s_resetPwd_h = 'hidden';
			</script>
		</div>
		<div shiro:hasPermission="cipin:qa:edit">
			<script type="text/javascript">
				s_edit_h = '';
			</script>
		</div>
		<div shiro:hasPermission="cipin:qa:remove">
			<script type="text/javascript">
				var s_remove_h = '';
			</script>
		</div>
		<div shiro:hasPermission="cipin:qa:resetPwd">
			<script type="text/javascript">
				var s_resetPwd_h = '';
			</script>
		</div>
	</div>
	<div th:include="include :: footer"></div>
	<script type="text/javascript" src="/js/appjs/cipin/qa/qa.js"></script>
	<script type="text/javascript" src="/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
<script>
	$.fn.datetimepicker.dates['zh'] = {
		days:       ["星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六","星期日"],
		daysShort:  ["日", "一", "二", "三", "四", "五", "六","日"],
		daysMin:    ["日", "一", "二", "三", "四", "五", "六","日"],
		months:     ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11","12"],
		monthsShort:  ["一", "二", "三", "四", "五", "六", "七", "八", "九", "十", "十一", "十二"],
		meridiem:    ["上午", "下午"],
		//suffix:      ["st", "nd", "rd", "th"],
		today:       "今天"
	};

	$('.form_date').datetimepicker({
		language:  'zh',
		weekStart: 1,
		todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		minView: 2,
		forceParse: 0
	});

	$('.form_date1').datetimepicker({
		language:  'zh',
		weekStart: 1,
		todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		minView: 2,
		forceParse: 0
	});


</script>
</body>
</html>